
  .input {
    display: flex;
    flex-direction: column;
    padding:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .input label {
    font-weight: bold;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .input input[type="file"] {
    width: 100%;
    margin-bottom: 5px;
  }
  
  .input button {
    background-color: #ff4444;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    width: 25%;
   
  }
  
  .input button:hover {
    background-color: #cc0000;
  }

  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  