.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .item {
    width: 33.3333%;
  }
}

.card {
  padding: 10px;
}

.card_title {
  color: #ffffff; 
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;  
}
  
  